@import '../../styles/mixins';

.nav__content {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background-color: $orange;
  box-shadow: 0px 2px 3px gray;
  margin: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  color: #000;
  align-items: center;
  z-index: 999;
  &__mid {
    font-size: 25px;
    &__dark {
      color: $dark;
    }
    &__light {
      color: $light;
    }
  }
}
